.PostList {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9fafc;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px;
}


.PostsTitle {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.PostList select {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 24px;
    background-color: #fff;
    cursor: pointer;
}

.PostList select:hover {
    border-color: #888;
}




.Post {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 15px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}




.Post img {
    width: 100%;
    max-height: 500px;
    object-fit: cover; 
    border-radius: 5px;
    margin-bottom: 10px;
}




.Post p {
    font-size: 24px;
    color: #555;
    margin-bottom: 10px;
    text-align: center;
}





.PostList div {
    font-size: 24px;
    color: #666;
    margin: 20px;
}