/* Сброс стандартных отступов и границ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Главный контейнер */
.MainFrame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    background: url(../../../public/static/img/catsFrame.png) no-repeat center center/cover;
    width: 100%;
    min-height: 100vh; /* Минимальная высота равна высоте экрана */
    font-family: "Poppins", sans-serif;
    padding: 20px;
}

/* Заголовок */
.tittle {
    font-size: 4rem; /* Адаптивный размер шрифта */
    color: #DDFF00;
    margin-top: 50px;
    text-align: center;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

/* Контейнер для кнопок */
.buttonsMain {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 30px;
    flex-wrap: wrap; /* Адаптация для маленьких экранов */
    justify-content: center;
}

/* Кнопка */
.button1 {
    width: 200px;
    height: 60px;
    border-radius: 12px;
    border: none;
    text-align: center;
    font-size: 1.2rem;
    background-color: #D9D9D9;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button1:hover {
    background-color: #c0c0c0;
    transform: scale(1.05);
}


.Main {
    width: 90%;
    max-width: 1200px;
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-y: auto;
    max-height: 800px; 
}
